@import 'src/resources/styles/mixin';

.not-found {
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  .title {
    font-size: 100px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  @include lessThan('md'){
    .title {
      font-size: 100px;
      font-weight: bold;
      color: aqua;
    }
  }

  @include greaterThan('md'){
    .title {
      font-size: 100px;
      font-weight: bold;
      color:royalblue;
    }
  }
  
  @include lessThan('sm'){
    .title {
      font-size: 50px;
      font-weight: bold;
      color:fuchsia;
    }
  }
}
